#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.clocks-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.watch {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  width: 150px;
}

.time {
  font-size: 24px;
  font-weight: bold;
}

input {
  height: 30px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: #007bff;
  color: white;
  border: none;
  margin: 5px auto;
  padding: 15px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

.clock-face {
  position: relative;
  width: 150px;
  height: 150px;
  border: 2px solid black;
  border-radius: 50%;
  background: white;
  margin: 0 auto;
}

.clock-face::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hour-hand,
.minute-hand,
.second-hand {
  position: absolute;
  width: 50%;
  height: 2px;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: transform 0.1s linear;
}

.hour-hand {
  height: 3px;
  background: black;
}

.minute-hand {
  height: 2px;
  background: gray;
}

.second-hand {
  height: 1px;
  background: red;
}

.clocks_form {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: flex-end;
}
